#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <toucan_layers.dtsi>
#include "toucan_behaviors.dtsi"
#include "toucan_combos.dtsi"

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        danger_layer {
            if-layers = <TOUCAN_SYS TOUCAN_FN>;
            then-layer = <TOUCAN_DANGER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &kp ESC                   &any_layer_tap TOUCAN_NAV Q  &kp W                      &kp E                      &kp R    &kp T                   &kp Y                     &kp U     &kp I         &kp O   &any_layer_tap TOUCAN_NAV P      &kp BSLH
                &left_mod_tap LCTRL EQUAL &left_layer_tap TOUCAN_SYM A &s_layer_tap TOUCAN_CLIP S &d_layer_tap TOUCAN_EDIT D &kp F    &kp G                   &kp H                     &kp J     &kp K         &kp L   &right_layer_tap TOUCAN_SYM SEMI &right_mod_tap RCTRL SQT
                &kp MINUS                 &left_mod_tap LSHFT Z        &kp X                      &c_layer_tap TOUCAN_APP C  &kp V    &kp B                   &kp N                     &kp M     &kp COMMA     &kp DOT &right_mod_tap RSHFT FSLH        &kp UNDER
                                                                                                  &mo TOUCAN_SYS             &kp BSPC &thumb_cmd_tap 0 TAB    &thumb_mod_tap LALT ENTER &kp SPACE &mo TOUCAN_FN
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &trans &kp GRAVE &kp HASH &kp LBRC &kp RBRC &kp AMPS    &kp CARET &kp N1 &kp N2 &kp N3 &kp STAR  &kp F11
                &trans &kp EXCL  &kp DLLR &kp LPAR &kp RPAR &kp AT      &kp N0    &kp N4 &kp N5 &kp N6 &kp BSLH  &kp F12
                &trans &kp PRCNT &kp PIPE &kp LBKT &kp RBKT &kp PLUS    &kp MINUS &kp N7 &kp N8 &kp N9 &kp TILDE &trans
                                          &trans   &trans   &trans      &trans    &trans &trans
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &trans &trans &kp LA(LC(LEFT)) &kp LA(LC(ENTER)) &kp APPLY_MODS((MOD_RALT | MOD_RCTL), RIGHT) &trans           &kp LEFT      &kp DOWN &kp UP &kp RIGHT &trans &trans
                &trans &trans &cmd_key LBKT    &nav_enter_dance  &nav_ctrl_shift 0 0                          &cmd_key RBKT    &trans        &trans   &trans &trans    &trans &trans
                &trans &trans &trans           &trans            &trans                                       &trans           &trans        &trans   &trans &trans    &trans &trans
                                               &trans            &trans                                       &trans           &cmd_key RGUI &kp RALT &trans
            >;
        };

        clip {
            display-name = "CLP";
            bindings = <
                &trans &trans &trans &trans        &trans     &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &copy_cut X C &cmd_key V &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans        &trans     &trans    &trans &trans &trans &trans &trans &trans
                                     &trans        &trans     &trans    &trans &trans &trans
            >;
        };

        edit {
            display-name = "EDT";
            bindings = <
                &trans &trans &trans     &trans &trans         &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &cmd_key Z &trans &cmd_key LS(Z) &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &trans     &trans &trans         &trans    &trans &trans &trans &trans &trans &trans
                                         &trans &trans         &trans    &trans &trans &trans
            >;
        };

        app {
            display-name = "APP";
            bindings = <
                &trans &trans &trans      &trans &trans  &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &trans      &trans &trans  &trans    &trans &trans &trans &trans &trans &trans
                &trans &trans &kp LS(TAB) &trans &kp TAB &trans    &trans &trans &trans &trans &trans &trans
                                          &trans &trans  &trans    &trans &trans &trans
            >;
        };

        mouse {
            display-name = "MOU";
            bindings = <
                &none &none &none &none            &none           &none        &none     &none     &none     &none &none &none
                &none &none &none &msc MOVE_Y(-10) &msc MOVE_Y(10) &none        &none     &none     &none     &none &none &none
                &none &none &none &none            &none           &none        &none     &none     &none     &none &none &none
                                  &mkp MCLK        &mkp LCLK       &mkp RCLK    &mkp LCLK &mkp RCLK &mkp MCLK
            >;
        };

        system {
            display-name = "SYS";
            bindings = <
                &memory_mode        &memory_slot 0 0      &memory_slot 1 1      &memory_slot 2 2 &memory_slot 3 3 &memory_slot 4 4    &trans &trans &trans &trans &trans &trans
                &trans              &kp LC(LS(LA(LG(A)))) &kp LC(LS(LA(LG(V)))) &trans           &trans           &trans              &trans &trans &trans &trans &trans &trans
                &bt_clear_guard 0 0 &bt BT_SEL 0          &bt BT_SEL 1          &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4        &trans &trans &trans &trans &trans &trans
                                                                                &trans           &trans           &trans              &trans &trans &trans
            >;
        };

        fn {
            display-name = "FN";
            bindings = <
                &studio_unlock &trans   &kp F7 &kp F8 &kp F9  &kp F12    &kp C_VOL_DN &kp C_MUTE     &kp C_VOL_UP &trans &trans &trans
                &trans         &trans   &kp F4 &kp F5 &kp F6  &kp F11    &trans       &trans         &trans       &trans &trans &trans
                &trans         &battery &kp F1 &kp F2 &kp F3  &kp F10    &trans       &platform_mode &trans       &trans &trans &trans
                                               &trans &kp DEL &trans     &trans       &trans         &trans
            >;
        };

        danger {
            display-name = "DNG";
            bindings = <
                &trans &toucan_bootloader &trans &trans &trans &trans    &trans &trans &trans &trans &toucan_bootloader &trans
                &trans &sys_reset         &trans &trans &trans &trans    &trans &trans &trans &trans &sys_reset         &trans
                &trans &trans             &trans &trans &trans &trans    &trans &trans &trans &trans &trans             &trans
                                                 &trans &trans &trans    &trans &trans &trans
            >;
        };
    };
};
