/* Custom reusable behaviors shared by both halves. */

/ {
    behaviors {
        /* Short node name is required because this behavior runs on peripherals. */
        battery: batread {
            compatible = "zmk,behavior-toucan-battery-readout";
            #binding-cells = <0>;
            display-name = "Battery Readout";
        };
    };
};
